.wrapper {
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgb(0 64 128 / 5%);
}