<form novalidate [formGroup]="registrationForm" id="registration-form">
  <h3>Registration</h3>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput class="form__input" formControlName="userName" autocomplete="off">
    <mat-error *ngIf="registrationForm.get('userName').hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <app-passwords (addFormControl)="addFormControl($event)"></app-passwords>

  <span>{{registrationForm.status}}</span>
</form>
