<div [formGroup]="passwordForm" class="form-group">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput class="form__input" formControlName="password" autocomplete="off">
      <mat-error *ngIf="passwordForm.get('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordForm.get('password').hasError('minlength')">
        Password is should be more than <strong>3 symbol</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput class="form__input" formControlName="confirmPassword" autocomplete="off">
      <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('passwordNotMatch')">
        Password <strong>not match</strong>
      </mat-error>
    </mat-form-field>
    <span>Password: {{passwordForm.status}}</span>
  </div>
