<mat-card class="card" *ngIf="user.gender != 'male' || hide">
    <mat-card-title>
        {{user.firstName}} {{user.lastName}}
        <button mat-icon-button color="primary"  [routerLink]="['/edit-user',user.id]">
            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
        </button>
    </mat-card-title>
    
    <span class="card__info"><b>Age :</b> {{user.age}}</span>
    <span class="card__info"><b>Gender :</b> {{user.gender}}</span>
    <span class="card__info"><b>Company :</b> {{user.company}}</span>
    <span class="card__info"><b>Department :</b> {{user.department}}</span>
    <span class="card__info"><b>Email :</b> {{user.email}}</span>
    <mat-checkbox class="example-margin" [color]="'primary'" [checked] = "user.active" (change)="activateUser()" [disabled]="user.active || user.age < 18">Active user</mat-checkbox>
    <button mat-raised-button (click)="deleteUser()" color="warn">Delete User</button>
</mat-card>
